<div class='container'>
  <h1>Edit Your ToDo Item</h1>
  <%= render partial: 'edit_form', locals: { task: @task, path: task_path(@task), method: :patch } %>
  <%= link_to 'Delete',
    task_path(@task),
    method: :delete,
    data: { confirm: 'Permanently Destroy This Todo Item?' }
  %>

  <hr>

  <h2>Subtasks</h2>
  <%= @task.subtasks.inspect %>
  <br>

  <%= link_to 'Create Subtask',
    new_subtask_url(task_id: @task.id),
    method: :get
  %>
</div>
